[submodule "gl-matrix"]
	path = gl-matrix
	url = https://github.com/toji/gl-matrix.git
[submodule "webgl-path-tracing"]
	path = ref-only/webgl-path-tracing
	url = https://github.com/evanw/webgl-path-tracing.git
