/* * * * * * * * *
*   Theme Vars   *
* * * * * * * * */
:root {
    --bg-accent-dark: rgb(42, 24, 124);
    --bg-accent-light: rgb(86, 22, 206);
    --bg-accent-light-hover: rgb(135, 77, 243);
    --text-accent-dark: rgb(181, 253, 255);
    --text-accent-dark-hover: rgb(203, 245, 255);
}



/* * * * * * *
*   Basic    *
* * * * * * */
html {
    font-family: sans-serif;
    color: var(--text-accent-dark);
	line-height: 1.5;
}
body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}
p, a {
    color: var(--text-accent-dark);
}
/* table, td, th {
    border: 2px solid black;
} */
/* td, th {
    padding: 10px;
    font-size: 28px
} */
/* table {
    margin: 10px;
    border-collapse: collapse;
} */



/* * * * * * * * * * *
*   Top and bottom   *
* * * * * * * * * * */
.nav-backing, .footer-backing {
    background-color: var(--bg-accent-dark);
    z-index: 2;
}
.nav, .footer {
    overflow: hidden;
}
.nav a, .footer p, .footer a, .footer span {
    padding: calc(1em) calc(1.5em);
    margin: 0;
    text-align: center;
    color: var(--text-accent-dark);
    font-size: 20px;
}
.nav-backing {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
.nav a {
    float: left;
    display: block;
    text-decoration: none;
    transition: background-color 0.25s, color 0.25s;
}
.nav a:hover {
    background-color: var(--bg-accent-light-hover);
    color: var(--text-accent-dark-hover);
}
/* .nav a.active {
    background-color: green;
    color: transparent;
} */
.footer-backing {
    margin-top: auto;
    width: 100%;
}
.footer {
    margin: 0 5%;
}
.footer p, .footer span, .footer a {
    font-size: 16px;
    float: left;
    text-align: center;
}

/* * * * * * *
*   Header   *
* * * * * * */
.header-backing {
    /* background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(119,227,255,1) 100%); */
}
.header {
    margin: 0;
    text-align: center;
    padding: 10px;
    overflow: hidden;
}
.header h1 {
    line-height: 2em;
    font-size: 100px;
    font-family: Brush Script MT;
}

.content-backing {
    background: var(--bg-accent-light);
    margin: 0;
    padding: 20px 0;
    min-height: 100%;
}

/* * * * * * * * * * *
*   Main Sections    *
* * * * * * * * * * */

#editor, .info {
    margin-left: 60px;
    /* margin: auto; */
    /* width: 80%; */
}
.info {
    float: left;
    clear: left;
}
#editor {
    width: fit-content;
    height: fit-content;
}
#frame {
    float: left;
    resize: both;
    overflow: scroll;
    width: fit-content;
    height: fit-content;
    border: 2px solid var(--bg-accent-dark);
}
#render {
    float: left;
}
#options {
    float: left;
}

.bubble-section {
    background: rgba(255, 255, 255, 0.6);
    margin: 20px calc(5% + 1em);
    padding: 2em;
    height: fit-content;
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 16px 16px rgba(0,0,0,.15);
    transition: 0.25s ease;
}
.bubble-section:hover {
    box-shadow: 8px 8px rgba(0,0,0,.25);
    background: rgba(255, 255, 255, 0.75);
}
.bubble-section h2 {
    font-size: 48px;
    margin: 10px;
}
.bubble-section h3 {
    font-size: 36px;
    margin: 10px;
}
.bubble-section p {
    font-size: 24px;
    margin: 10px;
    line-height: 36px;
}
.bubble-section hr {
    border:rgb(0, 89, 109) solid 3px;
}

/* * * * * * * * * * * * * *
*   Other inner content    *
* * * * * * * * * * * * * */
.attributed {
    font-style: italic;
    text-decoration: none;
    font-size: 12px;
    color: gray;
    text-align: center;
    margin: 10px;
}
.contact {
    font-size: 20px;
    padding: 15px;
    margin: 20px;
    background: rgba(51, 51, 51, 0.6);
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.6);
    color: white;
    border-radius: 10px;
    width: fit-content;
    /* box-shadow: 8px 8px rgba(0,0,0,.15); */
    /* transition: 0.25s ease; */
}
.content-fill {
    font-size: 20px;
    /* padding: 5px; */
    /* background: rgba(255, 255, 255, 0.6); */
}
.shadebutton {
    transition: 0.25s ease;
    background:rgba(0,0,0,0); 
}
.shadebutton:hover {
    background: rgba(0,0,0,0.15);
}