@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Carter+One&family=DM+Sans:ital,wght@0,400;1,700&family=Poppins:ital,wght@1,900&family=Staatliches&display=swap');

:root {
	--theme-light: #C5C5C5;	/* 197, 197, 197 */
	--theme-dark: #3F3F3F;		/* 63, 63, 63 */
    --theme-dark2: #292929;
	--theme-lightest: white;
	--theme-darkest: black;
	
	--font-fallback: sans-serif;
	--font-styled: var(--font-fallback);
	--font-styled: 'Audiowide';
	--font-basic: var(--font-fallback);
	--font-basic: 'DM Sans';
	--font-expression: var(--font-fallback);
	--font-expression: 'Poppins';
	/* Unused:
	 - 'Carter One'
	 - 'Staatliches'
	*/
}
html {
    font-family: var(--font-basic);
    color: var(--light);
}
body {
	margin: 0;
/*	overflow: overlay;*/
}

#nav {
	position: sticky;
	top: 0;
	width: 100%;
	height: fit-content;
}
#nav img {
	float: right;
	margin: clamp(10px, 2vw, 25px);
	height: clamp(30px, 4vw, 50px);	/*try making a var for this*/
}
#nav img:hover {
    height: clamp(33px, 4.4vw, 55px);	/*110% for all*/
}
#content {
	background: var(--theme-dark);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
#footer {
	background-color: var(--theme-dark2);
	color: var(--theme-light);
	height: fit-content;
	margin: 0;
	padding: 
		clamp(9px, 2.4vw, 36px) 0
		clamp(12px, 3.2vw, 48px) 0;
}
#footer div, #footer span {
	display: block;
	margin: 0 auto;
	width: fit-content;
	text-align: center;
}
#footer div a {
	color: var(--theme-light);
	text-decoration: none;
	font-size: clamp(16px, 1.5vw, 20px);
	font-family: var(--font-styled);
	margin: 5vw;
}
#footer div a:hover {
	color: var(--theme-lightest);
}

.link-svg {
	filter: invert(86%) sepia(0%) saturate(0%) hue-rotate(234deg) brightness(90%) contrast(101%);
}
.link-svg:hover {
	filter: invert(100%) sepia(0%) saturate(7491%) hue-rotate(274deg) brightness(109%) contrast(102%);
}

.styled_font { font-family: var(--font-styled); }
.basic_font { font-family: var(--font-basic); }
.expression_font { font-family: var(--font-expression); }

/* h1.scale_width {
	font-size: clamp(30px, 10vw, 140px);
}
h2.scale_width {

}
h3.scale_width {
	font-size: clamp(20px, 6.6vw, 100px);
}
h4.scale_width {

}
h5.scale_width {
	font-size: clamp(10px, 3.3vw, 50px);
}
h6.scale_width {
	font-size: clamp(8px, 2vw, 36px);
}
p.scale_width, span.scale_width, li.scale_width {

} */