@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Carter+One&family=DM+Sans:ital,wght@0,400;1,700&family=Staatliches&family=Poppins:ital,wght@0,900&display=swap');

:root {
	--theme-light: #C5C5C5;	/* 197, 197, 197 */
	--theme-dark: #3F3F3F;		/* 63, 63, 63 */
	--theme-lightest: white;
	--theme-darkest: black;
	
	--font-fallback: sans-serif;
	--font-styled: var(--font-fallback);
	--font-styled: 'Audiowide';
	--font-basic: var(--font-fallback);
	--font-basic: 'DM Sans';
	--font-expression: var(--font-fallback);
	--font-expression: 'Poppins';
	/* Unused:
	 - 'Carter One'
	 - 'Staatliches'
	*/
	
	/* OLD */
    --bg-accent-dark: rgb(42, 24, 124);
    --bg-accent-light: rgb(86, 22, 206);
    --bg-accent-light-hover: rgb(135, 77, 243);
    --text-accent-dark: rgb(181, 253, 255);
    --text-accent-dark-hover: rgb(203, 245, 255);
}
html {
    font-family: var(--font-basic);
    color: var(--light);
}
body {
	margin: 0;
	/*min-height:100vh;*/
}

#nav {
	position: sticky;
	top: 0;
	width: 100%;
	height: calc(clamp(30px, 4vw, 50px) + 4vw);
}
#nav img {
	float: right;
	height: clamp(30px, 4vw, 50px);	/*try making a var for this*/
	margin: 2vw;
	filter: invert(86%) sepia(0%) saturate(0%) hue-rotate(234deg) brightness(90%) contrast(101%);
}
#nav img:hover {
	filter: invert(100%) sepia(0%) saturate(7491%) hue-rotate(274deg) brightness(109%) contrast(102%);
}

.styled_font { font-family: var(--font-styled); }
.basic_font { font-family: var(--font-basic); }
.expression_font { font-family: var(--font-expression); }

h1.scale_width {
	font-size: clamp(30px, 10vw, 140px);
}
h2.scale_width {

}
h3.scale_width {
	font-size: clamp(20px, 6.6vw, 100px);
}
h4.scale_width {

}
h5.scale_width {
	font-size: clamp(10px, 3.3vw, 50px);
}
h6.scale_width {
	font-size: clamp(8px, 2vw, 36px);
}
p.scale_width, span.scale_width, li.scale_width {

}








/* * * * * * *
*   Basic    *
* * * * * * */
body {
    height: 100%;
    display: flex;
    flex-direction: column;
	min-height:100vh;
}
p, a {
    color: var(--text-accent-dark);
}
/* table, td, th {
    border: 2px solid black;
} */
/* td, th {
    padding: 10px;
    font-size: 28px
} */
/* table {
    margin: 10px;
    border-collapse: collapse;
} */



/* * * * * * * * * * *
*   Top and bottom   *
* * * * * * * * * * */
.nav-backing, .footer-backing {
    background-color: var(--bg-accent-dark);
    z-index: 2;
}
.nav, .footer {
    overflow: hidden;
}
.nav a, .footer p, .footer a, .footer span {
    padding: calc(1em) calc(1.5em);
    margin: 0;
    text-align: center;
    color: var(--text-accent-dark);
    font-size: 20px;
}
.nav-backing {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
.nav a {
    float: left;
    display: block;
    text-decoration: none;
    transition: background-color 0.25s, color 0.25s;
}
.nav a:hover {
    background-color: var(--bg-accent-light-hover);
    color: var(--text-accent-dark-hover);
}
/* .nav a.active {
    background-color: green;
    color: transparent;
} */
.footer-backing {
    background-image: none;
	background-repeat: repeat;
	background-attachment: scroll;
	background-position: 0% 0%;
	position: fixed;
	bottom: 0pt;
	left: 0pt;
	height: fit-content;
    width: 100%;
}
.footer {
	width: 100%;
    margin: auto;
}
.footer p, .footer span, .footer a {
    font-size: 16px;
    float: left;
    text-align: center;
}

/* * * * * * *
*   Header   *
* * * * * * */
.header-backing {
    /* background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(119,227,255,1) 100%); */
}
.header {
    margin: 0;
    text-align: center;
    padding: 10px;
    overflow: hidden;
}
.header h1 {
    line-height: 2em;
    font-size: 100px;
    font-family: Brush Script MT;
}

.content-backing {
    background: var(--bg-accent-light);
    margin: 0;
    padding: 20px 0;
    min-height: 100%;
	height: 100%;
	flex: 1;
}

/* * * * * * * * * * *
*   Main Sections    *
* * * * * * * * * * */

#editor, .info {
    margin-left: 60px;
    /* margin: auto; */
    /* width: 80%; */
}
.info {
    float: left;
    clear: left;
}
#editor {
    width: fit-content;
    height: fit-content;
}
#frame {
    float: left;
    resize: both;
    overflow: scroll;
    width: fit-content;
    height: fit-content;
    border: 2px solid var(--bg-accent-dark);
}
#render {
    float: left;
}
#options {
    float: left;
}

.bubble-section {
    background: rgba(255, 255, 255, 0.6);
    margin: 20px calc(5% + 1em);
    padding: 2em;
    height: fit-content;
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 16px 16px rgba(0,0,0,.15);
    transition: 0.25s ease;
}
.bubble-section:hover {
    box-shadow: 8px 8px rgba(0,0,0,.25);
    background: rgba(255, 255, 255, 0.75);
}
.bubble-section h2 {
    font-size: 48px;
    margin: 10px;
}
.bubble-section h3 {
    font-size: 36px;
    margin: 10px;
}
.bubble-section p {
    font-size: 24px;
    margin: 10px;
    line-height: 36px;
}
.bubble-section hr {
    border:rgb(0, 89, 109) solid 3px;
}

/* * * * * * * * * * * * * *
*   Other inner content    *
* * * * * * * * * * * * * */
.attributed {
    font-style: italic;
    text-decoration: none;
    font-size: 12px;
    color: gray;
    text-align: center;
    margin: 10px;
}
.contact {
    font-size: 20px;
    padding: 15px;
    margin: 20px;
    background: rgba(51, 51, 51, 0.6);
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.6);
    color: white;
    border-radius: 10px;
    width: fit-content;
    /* box-shadow: 8px 8px rgba(0,0,0,.15); */
    /* transition: 0.25s ease; */
}
.content-fill {
    font-size: 20px;
    /* padding: 5px; */
    /* background: rgba(255, 255, 255, 0.6); */
}
.shadebutton {
    transition: 0.25s ease;
    background:rgba(0,0,0,0); 
}
.shadebutton:hover {
    background: rgba(0,0,0,0.15);
}